body{
    font-family: Roboto, sans-serif;
}

.section-tittle{
    font-family: Bungee;
}

#header{
    background-color: #182c61;
}

#header .nav .nav-link.active{
    background-color: #fff;
    color: #182c61;
}

#header .nav .nav-link,
.section-tittle{
    color: #fff;
}

.navbar-toggler{
    background-color: #fff;
}

.carousel-item img{
    height: 672px;
}