body{
    font-family: Roboto, sans-serif;
}

.section-tittle{
    font-family: Bungee;
    color: #fff;
}

#header{
    background-color: #182c61;
}

#header .nav .nav-link.active{
    background-color: #fff;
    color: #182c61;
}