body{
    font-family: Roboto, sans-serif;
}

header h1{
    font-family: Bungee;
    color: #fff;
}

.section-title{
    color: #fff;
    background-color: #182c61;
}

.title{
    font-family: Bungee;
    color: #182c61;
    border-bottom: 2px solid #3564ca;
}

.text-colored{
    color: #182c61;
}


#header{
    background-color: #182c61;
}

#header .nav .nav-link.active{
    background-color: #fff;
    color: #182c61;
}

#header .nav .nav-link,
#header h1{
    color: #fff;
}

.navbar-toggler{
    background-color: #fff;
}

.carousel-item img{
    height: 800px;
}

